* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }
  
  body {
	background: rgb(4,4,4);
	background: linear-gradient(90deg, rgba(4,4,4,1) 3%, rgba(84,84,84,1) 100%);
	color: white;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
  }
  
  .header-head {
	padding-left: 0.5em;
	align-self: center;
  }
  
  header {
	display: flex;
	justify-content: space-between;
	padding: 0.8em;
	border-bottom: 0.5px solid white;
	font-family: 'Courier New', Courier, monospace;
	width: 100%;
  }
  
  .header-underline {
	align-self: center;
	margin: 1em;
  }

  .header-underline-movieflex {
	  color: rgb(185, 140, 194);
	  font-weight: bold;
	  font-size: 1.2em;
	  margin-top: 1em;
  }

  main {
	  height: 75vh;
	  /* width: 60%;
	  background-color: white; */
  }

  .start-btn {
	padding: 1em;
	color: rgb(249, 225, 225);
	border-radius: 1em;
	font-weight: bold;
	border: none;
	transition: all ease-in-out 0.5s;
	box-shadow: 3px 3px 2px 3px rgb(103, 103, 103);
	background-color: rgb(185, 140, 194);
  }

  .start-btn:hover {
	background-color: whitesmoke;
	color: rgb(97, 97, 97);
	box-shadow: 3px 3px 2px 3px rgb(129, 129, 129);
	cursor: pointer;

  }

  .start-container {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  height: 75vh;
	  
  }

  .search-input {
	  align-self: flex-end;
	  padding: 0.3em 1em 1em 1em;
	  color:rgb(97, 112, 134);
	  margin-left: auto;
	  border-radius: 1em;
	  border:rgb(185, 140, 194) 1px solid;
	  font-size: 1em;
  }

  .search-input::placeholder {
	  margin-top: 1em;
  }

  label {
	  align-self: start;
  }

  .flex-row {
	  display: flex;
	  flex-direction: row;
	  align-items: flex-end;
  }
 
  